<app-my-nav>
    <p-table #dt [columns]="cols" [paginator]="true" [rows]="6" rowHover="true" [value]="employee" sortMode="multiple"
        [multiSortMeta]="multiSortMeta" selectionMode="" [(selection)]="selectedCars" class="table-table dark">
        <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix">
                <button type="button" class="btn btn-info" iconPos="left" label="All Data" (click)="dt.exportCSV()"
                    style="float:right"><i class="fa fa-download"> Export All to CSV </i></button>
                &nbsp; &nbsp; &nbsp;&nbsp; <button type="button" class="btn btn-primary" pButton icon="fa fa-file"
                    iconPos="right" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})"
                    style="float:right">
                    <i class="fa fa-download">Selection Only </i></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 4.75em">
                    Check
                </th>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th>Actions</th>
            </tr>
            <tr>
                <th>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input pInputText *ngSwitchCase="'EmployeeId'" type="text"
                        (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                        [value]="dt.filters[col.field]?.value" pTooltip="Enter Employee ID">
                    <input pInputText *ngSwitchCase="'ProjectTitle'" type="text"
                        (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                        [value]="dt.filters[col.field]?.value" pTooltip="Search by Project">
                    <input pInputText *ngSwitchCase="'EmployeeName'" type="text"
                        (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                        [value]="dt.filters[col.field]?.value" pTooltip="Search by Name">
                    <p-dropdown *ngSwitchCase="'EmployeeTech'" [options]="tech" [style]="{'width':'100%'}"
                        (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                    <input pInputText *ngSwitchCase="'Role'" type="text"
                        (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                        [value]="dt.filters[col.field]?.value" pTooltip="Search by Role">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-car let-columns="columns" let-rowData let-rowIndex="rowIndex">
            <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of columns">
                    {{car[col.field]}}
                </td>
                <td>
                    <button type="button" class="btn btn-info" (click)="goToEmployeeDetails(rowData.EmployeeId)"> <i
                            class="fa fa-eye" style="font: size 3px"></i> </button>
                    &nbsp;<button type="button" class="btn btn-warning"
                        (click)="goToEmployeeContact(rowData.EmployeeId)" alt="Mail"> <i class="fa fa-envelope"
                            alt="Mail " style="font: size 3px"></i> </button>
                    &nbsp;<button type="button" class="btn btn-info"
                        (click)="CustomizeResume(rowIndex,rowData.EmployeeId)" alt="Customize"> <i class="fa fa-yelp"
                            alt="Customize " style="font: size 3px"></i> </button>
                </td>
            </tr>
            <p-toast [style]="{marginTop: '80px'}"></p-toast>
        </ng-template>
    </p-table>
</app-my-nav>