<mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
    fixedTopGap="56" style="background-color:#F5F5F5;">
    <mat-toolbar color="blue"> <i class=" fa fa-book"> RMS </i> </mat-toolbar>

    <mat-nav-list>
      <h3 matSubheader> Employee Nineleaps </h3>
      <a mat-list-item href="/contact" style="font-family:georgia,garamond,serif;font-size:20px;font-style:italic;" routerLinkActive="active"> <i class="	fa fa-envelope"> Contact </i></a>
    </mat-nav-list>

    <mat-nav-list>
      <a mat-list-item (click)="Logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="snav.toggle()"><i class="fa fa-bars" aria-hidden="true"></i></button>
        <span> <a href="nineleaps.com"><img src="https://bit.ly/2JVSWVm"> </a> </span>
        <span class="example-spacer"></span>
        <mat-nav-list>
            <a style="text-align: end" mat-list-item (click)="Logout()">Logout</a>
           </mat-nav-list>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>