
<mat-dialog-content>

  <mat-dialog-actions align="end">
   <button mat-button mat-dialog-close class="btn btn-danger" >Cancel</button>
  </mat-dialog-actions>
  
   <!-- <label for="colFormLabel" class="col-sm-2 col-form-label">EmployeeName</label>
   <div class="col-sm-7">
     <input type="email" class="form-control" id="colFormLabel" placeholder="EmployeeName" name="EmployeeName"
       #EmployeeName="ngModel" [(ngModel)]="this.data.EmployeeName" >
   </div> -->
  <form #UserForm="ngForm" (submit)="onSubmit(UserForm)">
   <table class="table table-striped table-dark table-bordered table-hover" >
      <thead class="thead-light">
       <tr>
       
         <th scope="col">Select </th>
         <th scope="col">Project ID</th>
         <th scope="col">Tech</th>
         <th scope="col">Project Title</th>
         <th scope="col">Role </th>
  
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let e of EmployeeProjects; let i=index" style="color:black" >
        <th> <input [id]="'empProjects'+i" type="checkbox" value="{{e}}}" [checked]="e.selected" (change)="updateSelectedProjects(i)"> </th>
         <th scope="col">{{e.ProjectId}}</th>
         <td scope="col">{{e.EmployeeTech}}</td>
         <td scope="col">{{e.ProjectTitle}}</td>
         <td scope="col">{{e.Role}}</td>
         <!-- <td>{{e.EmployeeTech}}</td> -->      
       </tr>
     </tbody>
   </table>
   <button type="submit" class="btn btn-default btn-primary">
     <span class="glyphicon glyphicon-user">Customize</span>
    
   </button>
  </form>
  
   </mat-dialog-content>
  
  
  