.bg-img
{
    background-image: url('../../assets/background1.jpg');
    background-position: center;
    background-repeat: no-repeat; 
}

.btn{
    top:70%;
    left:43%;    
    position: absolute;
    font-weight: bold;
    font-size:165%;
}

.btn2{
    top:50%;
    left:43%;    
    position: absolute;
    font-weight: bold;
    font-size:165%;
}